@import url('https://fonts.googleapis.com/css?family=Bangers');
html { 
    width: 100%; 
    min-height: 100%;
    height: 10%; 
}
header {
    width           : 100%;
    height          : 120px;
    background-color: #c72c17;
    position        : relative;
    box-shadow      : 2px 3px 12px rgba(0, 0, 0, .4);
    align-items     : center;
    border-bottom   : 6px solid black;
    white-space: nowrap;
}
body {
    display               : block;
    position              : absolute;
    width                 : 100%;
    height                : 100%;
    background            : url("./marvelDC.jpg");
    background-size       : cover;
  }
#logo {
    position: relative;
    left: 5px;
    top: 5px;
    margin: auto;
    height: 250px;
    width: 250px;
    border: 10px solid black;
    border-radius: 50%;
}
#logo-text {
    font-size: 20px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    color: lightgray;
    text-shadow: 3px 3px 2px pink, 6px 6px 5px orange;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
h1 {
    text-align: center;
    color      : white;
    text-align: center;
    font-size  : 4em;
    font-weight: normal;
    font-family: 'Bangers', cursive !important;
    color: white;
    margin: auto; 
    letter-spacing: 0.09em;
}
#search-box {
    display:inline-block;
    margin-left: 300px;
    align-content: center;
    width         : 60%;
}
#inputName {
    border       : 10px solid #000000;
    border-radius: 60px 60px 60px 60px;
    font-family: 'Bangers', cursive !important;
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow:  0 0 5px darkblue;
    letter-spacing: 0.09em;
    color        : #FFFFFF;
    background   : #d4e218;
    box-shadow   : 0 5px 30px 20px #23f034;
    display: inline;
}
#add-movie{
    margin-left: 20px;
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 10px solid #000000;
    border-radius: 50%;
    font-size: 35px;
    color: white;
    font-family: 'Bangers', cursive !important;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow:  0 0 5px rgb(147, 230, 15);
    text-align: center;
    box-shadow   : 0 5px 30px 20px #23f034;
    background-color: #000000;
    background-image: linear-gradient(315deg, #bb84e9 0%, #b82e1f 74%);
}
.superman-fly {
    position: relative;
    animation : flying 2s linear infinite;
    margin-top: -140px;
}
@keyframes flying {
    from {
      transform: translateX(-300px);
    }
  
    to {
      transform: translateX(1200px);
    }
}
@-webkit-keyframes fly {
    0% {
      top: 0;
    }
  
    50% {
      top: -5px;
    }
  
    100% {
      top: 0;
    }
  }
@keyframes fly {
    0% {
      top: 0;
    }
  
    50% {
      top: -5px;
    }
  
    100% {
      top: 0;
    }
}
.row {
    position: relative;
    width: 100%;
}
.container {
    align-content: stretch;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 700px;
    border: 5px solid rgb(231, 228, 31);
    border-radius: 30px 30px 30px 30px;
    background-color: white;
    background-image: url(./allheroes2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
    -webkit-box-shadow: inset 3px 3px 55px -12px rgba(245,245,10,1);
    -moz-box-shadow: inset 3px 3px 55px -12px rgba(245,245,10,1);
    box-shadow: inset 3px 3px 55px -12px rgba(245,245,10,1);
}
.card {
    /* display:inline-block; */
    margin-left: 15px;
    margin-top: 20px;
    align-content: stretch;
    height: 550px;
    /* width: 100%; */
    border: 5px solid rgb(238, 19, 19);
    border-radius: 30px 30px 30px 30px;
    display: inline-flex;
}
h5{
  font-size  : 4em;
  font-weight: normal;
  font-family: 'Bangers', cursive !important;
  color: red;
  letter-spacing: 0.09em;
  font-size: 40px;

}
/* #heroCard{
  display:  inline;
  margin-left: 15px;
  margin-top: 20px;
  align-content: normal;
  height: 10%;
  width:  10%;
  border: 5px solid rgb(238, 19, 19);
  border-radius: 0px;
  overflow: scroll;
}
#movieCard{
  display:inline-block;
  margin-left: 15px;
  margin-top: 20px;
  align-content: stretch;
  height: 10%;
  width:  10%;
  border: 5px solid rgb(238, 19, 19);
  border-radius: 0px;
} */
.hide{
  display: none;
}
#testContainer{
  align-content: stretch;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  height: auto;
  border: 5px solid rgb(231, 228, 31);
  border-radius: 30px 30px 30px 30px;
  background-color: white;    
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}
p.t{
  color: red
}
.cardEdit{
  /* float: left; */
  width: 30%;
  height: 10%;
}
#cardMovie{
  height: auto;
}
#cardHero{
}

#heroContainer{
  height: 600px;

}
#movieContainer{
  height: 800px;
}
 .card-image {
   border-radius: 25px 25px 25px 25px;
}
