@import url('https://fonts.googleapis.com/css?family=Bangers');

header {
  width           : 100%;
  height          : 100px;
  background-color: #c72c17;
  z-index         : 20;
  position        : relative;
  justify-content : space-between;
  top             : 0;
  display         : flex;
  box-shadow      : 2px 3px 12px rgba(0, 0, 0, .4);
  align-items     : center;
  border-bottom   : 6px solid black;
}

main {
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

#logo {
    position: absolute;
  left: 50px;
  top: 50px;
  margin: auto;
  height: 300px;
  width: 300px;
  border: 10px solid black;
  border-radius: 50%;
}

#logo-text {
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.05em;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    color: lightgray;
    text-shadow: 3px 3px 2px pink, 6px 6px 5px orange;
    position: absolute;
    left: 0;
    right: 0;
    top: -70px;
    margin: auto;

}

.nav-right div {
    margin     : 0 20px;
    font-size  : 1.2rem;
    font-weight: 700;

}
  
.nav-left h4 {
    display: inline;
}
  
  
body {
  font-family: 'Krub', sans-serif;
  font-weight: thin;
  background : black;
  margin     : 0px;
  overflow-x : hidden;
}

h1,
h2 {
  color      : white;
  text-align: center;
  font-size  : 5em;
  font-weight: normal;
  font-family: 'Bangers', cursive !important;
  color: white;
  display: block;
}

body:after {
  content               : "";
  display               : block;
  position              : fixed;
  top                   : 0;
  left                  : 0;
  margin                : 0;
  z-index               : -1;
  width                 : 150%;
  height                : 150%;
  background            : url("./heroes.jpg");
  background-size       : contain;


  filter: blur(0px);
}

h1 {
  font-size: 170%;
  position : relative;
  z-index  : 10;
}

@media (max-width: 768px) {

  h1 {
    font-size: 120%;
  }

  p {
    display        : none;

    width          : 100%;
    height         : 30%;
  }

  .watch {
    margin: 5% auto;
  }
}


::-webkit-input-placeholder {
  color: rgba(170, 169, 169, 0.856);
}

::-moz-placeholder {
  text-align: center;
}

#search-box {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  max-width     : 500px;
}

div.input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height  : 80px;
}

div.input input {
  margin       : 0 auto;
  height       : 60%;
  width        : 100%;
  padding      : 0 10px;
  border-radius: 2px;
  position     : absolute;
  border       : none;
}

.superman {
  margin: auto;
}

div.superman:before {
  content          : '';
  display          : block;
  width            : 500px;
  height           : 50px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  position         : absolute;
  top              : 0;
  z-index          : 0;
  border-radius    : 2px;
}

div.superman input {
  border       : 10px solid #000000;
  border-radius: 30px;
  font-family: 'Bangers', cursive !important;
  text-align: center;
  font-size: 40px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow:  0 0 5px darkblue;
  letter-spacing: 0.09em;
  color        : #FFFFFF;
  background   : #d4e218;
  box-shadow   : 0 5px 30px 20px #23f034;
  
}

@-webkit-keyframes fly {
  0% {
    top: 0;
  }

  50% {
    top: -5px;
  }

  100% {
    top: 0;
  }
}

@keyframes fly {
  0% {
    top: 0;
  }

  50% {
    top: -5px;
  }

  100% {
    top: 0;
  }
}

#results {
  width        : 100%;
  border-radius: 8px;
  margin-top   : 8%;
  box-sizing   : border-box;
  margin-bottom: 10px;
}

.result-card {
  width          : 100%;
  padding        : 20px 10px 10px 10px;
  text-align     : left;
  color          : white;
  border-bottom  : 1px solid grey;
  box-shadow     : 2px 3px 12px rgba(0, 0, 0, .4);
  background     : linear-gradient(to right, rgba(40, 40, 60, 1) 0%, rgba(40, 0, 60, 0) 90%);
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
}


.result-card-image {
  height  : 100px;
}

.result-card-container {
  display        : flex;
  flex-direction : column;
  flex-grow      : 1;
  padding-left   : 20px;
  justify-content: space-around;
}

.superman-fly {
  position  : absolute;
  animation : flying 2s linear infinite;
  margin-top: 07%;
}

@keyframes flying {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(1600px);
  }
}

.card {
  margin         : 10% auto;
  border-radius  : 10px;
  box-shadow     : 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  display        : flex;
  flex-direction : column;
  align-items    : center;
  width          : 50%;
  background     : #151515;
  justify-content: center;
  font-family    : 'Krub', sans-serif;
}

.card .ds-top {
  position     : absolute;
  border-radius: 10px 10px 0px 0px;
  width        : 50%;
  margin       : 10% auto;
  top          : 0;
  right        : 0;
  left         : 0;
  height       : 250px;
  background   : crimson;
  animation    : dsTop 1.5s;
}

.card-details {
  width         : 100%;
  margin        : 50px 0;
  padding-top   : 40px;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  color         : white;
}

.avatar-holder {
  z-index      : 1;
  margin       : auto;
  border-radius: 50%;
  width        : 300px;
  height       : 340px;
  background   : white;
  overflow     : hidden;
  animation    : mvTop 1.5s;
  border       : 6px solid #151515;
}

.avatar-holder img {
  width     : 100%;
  height    : 100%;
  object-fit: cover;
  box-shadow: 0 0 0 5px #151515,
    inset 0 0 0 5px #000000,
    inset 0 0 0 5px #000000,
    inset 0 0 0 5px #000000,
    inset 0 0 0 5px #000000, ;
}

.superheroInfo {
  animation: mvBottom 1.5s;
  width    : 80%;
  margin   : 15px auto;
}

.bar {
  height         : 5px;
  background     : crimson;
  text-align     : right;
  font-size      : 14px;
  color          : white;
  font-size      : 16px;
  padding        : 1px 5px 17px 0px;
  animation      : fadeIn 5s;
  padding-bottom : 17px;
  animation-delay: 0.4s;
  border-radius  : 8px;
}

.bar:hover {
  background: white;
  color     : #151515;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left   : -300px;
  }

  100% {
    opacity: 1;
    left   : 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mvBottom {
  0% {
    bottom: -150px;
  }

  100% {
    bottom: 10px;
  }
}

@keyframes mvTop {
  0% {
    top: -150px;
  }

  100% {
    top: 40px;
  }
}

@keyframes dsTop {
  0% {
    top: -150px;
  }

  100% {
    top: 0;
  }
}

.detail {
  padding        : 8px;
  display        : flex;
  justify-content: space-between;
  border-bottom  : 1px solid rgba(255, 255, 255, 0.5);
}

.detail-power {
  padding        : 8px;
  justify-content: space-between;
}

#superhero-image {
  max-height: 500px;
  max-width : 90%;
  box-shadow: 2px 5px 10px #000000;
}

#superhero-title {
  margin-top: 40px;
}

.info-title {
  margin-right : 10%;
  font-weight  : 400;
  margin-bottom: 7px;
}

.info-content {
  text-align: right;
  animation : fadeIn 5s;
}